<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<table class="table" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="image">
            <img src="https://s3.eu-central-1.amazonaws.com/cq-email-footer/mareta.jpg" alt="Mareta">
        </td>
        <td>
            <!-- Person -->
            <div class="name">Mareta Łakomska</div>
            <div class="position">People & Culture Developer & Artist</div>
            <div class="contact">

                <!-- E-mail -->
                <div class="e-mail">
                    <b>e:</b> mareta@codequest.com
                </div>

                <!-- Phone -->
                <div>
                    <b>m:</b> +48 500 400 200
                </div>
            </div>

            <!-- Social media -->
            <div class="social-media">
                <a href="https://www.linkedin.com/company/code-quest/">
                    <img src="https://s3.eu-central-1.amazonaws.com/cq-email-footer/linked-in.jpg" border="0" alt="LinkedIn">
                </a>
                <a href="https://www.facebook.com/codequest.eu/">
                    <img src="https://s3.eu-central-1.amazonaws.com/cq-email-footer/fb.jpg" border="0" alt="Facebook">
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <!-- Logo -->
            <table class="logo-copy" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="logo">
                        <a href="https://codequest.com?utm_source=email-footer">
                            <img src="https://s3.eu-central-1.amazonaws.com/cq-email-footer/cq-logo.jpg" alt="CodeQuest">
                        </a>
                    </td>
                    <td valign="middle">
                        <p class="copy">
                            We turn ideas into <span>awesome products</span>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="disclaimer">
                Your personal data related to this mail is processed by codequest sp. z.o.o. with its
                registered office in Poland, Warsaw, Zamiany 8 LU 202, 02-786, as Data Controller.
                The data will be processed within the scope necessary for this communication and
                corresponding purposes.
            </p>
        </td>
    </tr>
</table>

</body>
</html>
